
RewriteEngine On

RewriteRule ^laboratory/([a-z0-9_-]+)/?$    /laboratory/list.php?plant_code=$1
RewriteRule ^laboratory/([a-z0-9_-]+)/([a-z0-9_-]+)/?$    /laboratory/detail.php?plant_code=$1&system_code=$2
